

h1{
    padding-top: 1em;
    padding-bottom: 2em;
    
}


#maSection{
    text-align: center;
    height:60% ;
    width:80%;
    margin-left: 10%;
    background:rgba(255, 255, 255, 0.904) ; 
    border-radius: 2em;
    
    

}
body{
    background-image: url(image/bacground.jpg);
    font-family: Georgia, 'Times New Roman', Times;
    font-size: 20px;
}

 #question
 {
        padding-top: 10%;
        margin-left: 5%
        

}
.form-check{
text-align: left;

}
.button{
    display: inline;
}
   